@{
    ViewBag.Title = "Home Page";
}

@section styles{
    <style>
        .punaSirina{
            width:100%;
        }
    </style>
    }

<div class="jumbotron">
    <h1 class="text-center">Montazne Kuce Ivanjica</h1>
    <br />
    <img class="punaSirina img-rounded" src="~/Slike/Naslovna.png" />
</div>

<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
</div>