@model IEnumerable<MontazneKuce.Models.RolaView>


<table class="table table-bordered table-striped">
    <tr>
        <th>Naziv</th>
        <th>Broj Korisnika</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Naziv</td>
            <td>@item.BrojKorisnika.Count()</td>
            <td>
                <a data-ajax="true" data-ajax-update="#div1" href="@($"/Administracija/_KorisniciIzRole/{item.Id}")">Detalji</a>
            </td>
        </tr>
    }
</table>
